/* roboto-300 - latin */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-v30-latin-300.woff2") format("woff2"), url("../fonts/roboto-v30-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v30-latin-900.woff2") format("woff2"), url("../fonts/roboto-v30-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: inline-block;
}

.site-header__img {
  width: 151px;
}

.site-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.site-header__item {
  margin-left: 60px;
}

.site-header__item:nth-child(1) {
  margin-left: 0;
}

.site-header__item:nth-child(2) {
  margin-left: 268px;
}

.site-header__item:nth-child(6) {
  margin-left: 268px;
  background: #f5f6fb;
  border-radius: 50px;
}

.site-header__item:nth-child(6) .site-header__link {
  padding: 12px 49px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #070f18;
}
.site-header__item:nth-child(6) .site-header__link:hover {
  background-color: #2eec71;
  color: white;
  border-radius: 50px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.site-header__link {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #070f18;
}
.site-header__link:hover {
  color: red;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.site-header__item:nth-child(2) .site-header__link {
  font-weight: 600;
}

@media only screen and (max-width: 1313px) {
  .site-header__item:nth-child(6) {
    margin-left: 230px;
  }
}
@media only screen and (max-width: 1273px) {
  .site-header__item:nth-child(2) {
    margin-left: 230px;
  }
}
@media only screen and (max-width: 1236px) {
  .site-header__item:nth-child(6) {
    margin-left: 200px;
  }
}
@media only screen and (max-width: 1205px) {
  .site-header__item:nth-child(2) {
    margin-left: 200px;
  }
}
@media only screen and (max-width: 1175px) {
  .site-header__item:nth-child(6) {
    margin-left: 170px;
  }
}
@media only screen and (max-width: 1145px) {
  .site-header__item:nth-child(2) {
    margin-left: 170px;
  }
}
@media only screen and (max-width: 1115px) {
  .site-header__item:nth-child(6) {
    margin-left: 150px;
  }
}
@media only screen and (max-width: 1095px) {
  .site-header__item:nth-child(2) {
    margin-left: 150px;
  }
}
@media only screen and (max-width: 1075px) {
  .site-header__item:nth-child(6) {
    margin-left: 120px;
  }
}
@media only screen and (max-width: 1045px) {
  .site-header__item:nth-child(2) {
    margin-left: 120px;
  }
}
@media only screen and (max-width: 1015px) {
  .site-header__item:nth-child(6) {
    margin-left: 100px;
  }
}
@media only screen and (max-width: 995px) {
  .site-header__item:nth-child(2) {
    margin-left: 100px;
  }
}
@media only screen and (max-width: 975px) {
  .site-header__item:nth-child(6) {
    margin-left: 80px;
  }
}
@media only screen and (max-width: 955px) {
  .site-header__item:nth-child(2) {
    margin-left: 80px;
  }
}
@media only screen and (max-width: 935px) {
  .site-header__item:nth-child(2) {
    display: none;
  }
  .site-header__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .site-header__item:nth-child(3) {
    display: none;
  }
  .site-header__item:nth-child(4) {
    display: none;
  }
  .site-header__item:nth-child(5) {
    display: none;
  }
  .site-header__item:nth-child(6) {
    margin-left: 0px;
  }
}/*# sourceMappingURL=main.css.map */